# OpenAI
ORGANIZATION=""
OPENAI_API_KEY=""


# DATABASES
WDI_DB_TABLE_NAME="wdi"

## POSTRESQL
WDI_DB_ENGINE="postgresql"
WDI_DB_HOST="localhost"
WDI_DB_USERNAME="postgres"
WDI_DB_PASSWORD=<pass>
WDI_DB_PORT=5432

## SQLITE
# WDI_DB_ENGINE="sqlite"
# WDI_DB_HOST=
# WDI_DB_USERNAME="/data/sqldb/wdi.db"
# WDI_DB_PASSWORD=
# WDI_DB_PORT=


# DIRS
OPENAI_PAYLOAD_DIR="data/openai/payloads"


# Task Labels
## Specify the label in the payload directory
## for this prompt set.
wdi_sql = "prompt2wdiSQL"
